body{font-family:"Helvetica Neue",Helvetica,sans-serif }
.panel-cover .content{background:url(../img/panel-bg.jpg) left top no-repeat;color: #5f646e;height: 100%;margin:0;padding-top: 2rem}
#main .list-block{margin:0}
.user-tx{margin:0;text-align: center}.user-tx img{width: 3rem;border-radius: 100%; background-color: #fff;}
.ranking .card{border-radius: 0;margin:0;margin-bottom:2.5rem;overflow-x: hidden}
.ranking .item-media{width:5rem;height:5rem}
.ranking .item-media img{width:100%;height:100%}
.ranking .list-block .item-inner:after{background: none}
.ranking li+ li:before{content: '';position:absolute;left:0.75rem;border-bottom:1px solid #e7e7e7;width: 100%}
.rank-music-list .card{margin:0;position: relative;}
.rank-music-list .card-content{height:9rem;}
.rank-music-list .card-content img{width:100%;height:100%}
.rank-music-list .card-header,.rank-music-list .card-footer{position:absolute;z-index: 2;width: 100%;background:rgba(0,0,0,0.5);border-radius: 0;min-height: 1.8rem;}
.rank-music-list .card-footer{bottom:0}
.rank-music-list .list-block{margin:0}
.rank-music-list .item-link .ol{width: 1.5rem;line-height: 1rem;border-radius:1rem;background: #fff;text-align: center;display:inline-block;color: #fff;font-size: 0.5rem}
.rank-music-list .item-link:nth-child(1) .ol{background: #E80101}
.rank-music-list .item-link:nth-child(2) .ol{background: #FF7201}
.rank-music-list .item-link:nth-child(3) .ol{background: #F8B301}
/*play*/
#player{background: url(../img/abj.jpg) center bottom no-repeat;background-size: 100% 100%}
.players .player-pointer{background: url(../img/aag.png) center no-repeat;background-size: 100% 100%;width: 4rem;height:6rem;position: absolute;left: 50%;margin-left: -0.71rem;top: -0.3rem;z-index: 2;transform:rotate(7deg);transform-origin: 0.7rem 0.7rem;transform: rotate(10deg);}
.players .player-radiu{background: url(../img/a97.png) center no-repeat;background-size:100% 100%;position: absolute;width: 12rem;height:12rem;left:50%;margin-left:-6rem;top:5em;z-index: 1 }